
<div *ngIf="busRoute">
    <h2><span jhiTranslate="ticketingSystemApp.busRoute.detail.title">Bus Route</span> {{busRoute.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ticketingSystemApp.busRoute.routeNumber">Route Number</span></dt>
        <dd>
            <span>{{busRoute.routeNumber}}</span>
        </dd>
        <dt><span jhiTranslate="ticketingSystemApp.busRoute.description">Description</span></dt>
        <dd>
            <span>{{busRoute.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bus-route/'+ busRoute.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
