<div>
    <h2>
        <span jhiTranslate="ticketingSystemApp.recharge.home.title">Recharges</span>
        <button class="btn btn-primary float-right jh-create-entity create-recharge" [routerLink]="['/', { outlets: { popup: ['recharge-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="ticketingSystemApp.recharge.home.createLabel">
            Create new Recharge
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ticketingSystemApp.recharge.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="recharges">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ticketingSystemApp.recharge.rechargeMethod">Recharge Method</span></th>
            <th><span jhiTranslate="ticketingSystemApp.recharge.rechargeAmount">Recharge Amount</span></th>
            <th><span jhiTranslate="ticketingSystemApp.recharge.accountNumber">Account Number</span></th>
            <th><span jhiTranslate="ticketingSystemApp.recharge.cardType">Card Type</span></th>
            <th><span jhiTranslate="ticketingSystemApp.recharge.expDate">Exp Date</span></th>
            <th><span jhiTranslate="ticketingSystemApp.recharge.smartCard">Smart Card</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let recharge of recharges ;trackBy: trackId">
                <td><a [routerLink]="['../recharge', recharge.id ]">{{recharge.id}}</a></td>
                <td>{{recharge.rechargeMethod}}</td>
                <td>{{recharge.rechargeAmount}}</td>
                <td>{{recharge.accountNumber}}</td>
                <td>{{recharge.cardType}}</td>
                <td>{{recharge.expDate}}</td>
                <td>
                    <div *ngIf="recharge.smartCard">
                        <a [routerLink]="['../smart-card', recharge.smartCard?.id ]" >{{recharge.smartCard?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../recharge', recharge.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'recharge/'+ recharge.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'recharge/'+ recharge.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
